.checkbox {
  position: relative;
  width: max-content;
  padding-left: 2.4rem;
}

input[type="checkbox"] {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"] + label {
  position: relative;
  display: flex;
  pointer-events: none;
  border-radius: 4px;
}

input[type="checkbox"] + label > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  background: transparent;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type="checkbox"]:checked + label {
  background: #72bd0e;
}
input[type="checkbox"]:checked + label > span {
  border: 0.5em solid #72bd0e;
  animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type="checkbox"]:checked + label > span:before {
  content: "";
  position: absolute;
  top: calc(50% - 0.1rem);
  left: calc(50% - 0.5rem);
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #fff;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
input[type="checkbox"]:disabled {
  pointer-events: none;
}
input[type="checkbox"]:disabled + label > span {
  opacity: 0.45;
  pointer-events: none;
}
