.default {
  padding: 0.6rem 1.6rem;
  font-size: 1.2rem;
  width: max-content;
  text-indent: 0;
  margin-left: 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
  color: #fff;
}

.completed {
  background: #72bd0e;
}

.pending {
  background: #e10141;
}
